{% embed 'base.html.twig' with {title: 'Erreur 404'} %}

    {% block body %}
        <div class="page-body">
            <div class="ui container">
                <h1>Erreur 404</h1>
                <p>Fdp tu t'es perdu</p>
            </div>
        </div>
    {% endblock %}

{% endembed %}