{% embed 'base.html.twig' with {title: 'Erreur 404'} %}

    {% block body %}
        <div class="page-body">
            <div class="ui container">
                <h1>Erreur 404</h1>
                <p>La page que vous recherchez est indisponible.</p>
                <div class="center"><a href="{{ path('homepage') }}" class="button primary large icon"><span class="icon"><i class="fa fa-home"></i></span>Retourner à l'accueil</a></div>
            </div>
        </div>
    {% endblock %}

{% endembed %}