<h1>Confirmation de votre e-mail</h1>
<p>Bienvenue à toi <strong>{{ user.username }}</strong> ! Afin de finir ton inscription sur le site, <a href="{{ absolute_url(path('email_verify', {'id': user.id, 'token': user.token})) }}">cliquer ici pour valider votre email</a>.</p>
