{% embed "base.html.twig" with {title: 'Mon profil'} %}


    {% block body %}

        <div class="page-body">
            <div class="container">
                <h1>Bienvenue {{ user.username }}</h1>
                <div class="spacer"></div>
                <h2>Vos tutoriels en cours</h2>
                <div class="active-tutoriels">
                    {% for tutoriel in following_tutoriels %}
                        {% embed 'partials/_active_tutoriel.html.twig' %}{% endembed %}
                    {% endfor %}
                </div>
                <div class="spacer"></div>
            </div>

        </div>



    {% endblock %}


{% endembed %}