{% embed "base.html.twig" with {title: 'Mon profil'} %}


    {% block body %}

        <div class="jumbotron">
            <div class="heading tutoriel">
                <h1>{{ title }}</h1>
                <div class="metas">
                    <span class="date">Tu es inscrit depuis le {{ user.createdAt|date('d/m/Y') }}</span>
                </div>
                <div class="spacer"></div>
                <div class="center">
                    <a href="{{ path('my_achievements') }}" class="button primary alt small"><i class="fa fa-star">&nbsp;&nbsp;</i>Voir mes succès</a>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container">
                {% if following_tutoriels|length > 0 %}
                    <div class="spacer"></div>
                    <h2>Les tutoriels que tu suis</h2>
                    <div class="active-tutoriels">
                        {% for tutoriel in following_tutoriels %}
                            {% embed 'partials/_active_tutoriel.html.twig' %}{% endembed %}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="spacer"></div>
                {% if finished_tutoriels|length > 0 %}
                    <div class="spacer"></div>
                    <h2>Tutoriels terminés</h2>
                    <div class="tutoriels">
                        {% for tutoriel in finished_tutoriels %}
                            {% embed 'partials/_tutoriel.html.twig' %}{% endembed %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if other_tutoriels|length > 0 %}
                    <div class="spacer"></div>
                    <h2>Autres tutoriels</h2>
                    <div class="tutoriels others">
                        {% for tutoriel in other_tutoriels %}
                            {% if tutoriel.userProgression(app.user) == false or tutoriel.userProgression(app.user).startedAt is null %}
                                {% embed 'partials/_tutoriel.html.twig' %}{% endembed %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

            </div>

        </div>



    {% endblock %}


{% endembed %}