{% for page in pages %}
    <a class="{% if app.request.attributes.get('_route') == page %}active{% endif %} item">{{ page }}</a>
{% endfor %}
<a href="{{ path('homepage') }}" class="item {% if app.request.attributes.get('_route') == "homepage" %}active{% endif %}">Accueil</a>
<a href="" class="item {% if app.request.attributes.get('_route') == "tutoriels" %}active{% endif %}">Tutoriels</a>
<div class="right menu">

    {% if app.user %}
        <div class="item">
            <a href="" class="ui primary button">Mon profil</a>
        </div>
        <div class="item">
            <a href="{{ path('logout') }}" class="ui {% if inverted %}inverted{% endif %} button">Se déconnecter</a>
        </div>

    {% else %}
        <div class="item">
            <a href="{{ path('login') }}" class="ui {% if inverted %}inverted{% endif %} button">Connexion / Inscription</a>
        </div>

    {% endif %}
</div>