{% embed 'base.html.twig' %}



    {% block body %}



        <div class="jumbotron">
            {% if app.user %}
                <div class="heading">
                    <h1>Bienvenue, {{ app.user.username }}</h1>
                    <p>C'est cool de te revoir mon bon ami !</p>
                </div>
                <a href="{{ path('my_profile') }}" class="button  icon large primary"><span class="icon"><i
                                class="fa fa-graduation-cap"></i></span>Suivi de
                    mes cours</a>
            {% else %}
                <div class="heading">
                    <h1>Venez sur notre site</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque nihil officiis provident quidem
                        repellendus. Aliquid asperiores fuga illo ipsum iure magnam natus nulla quod reprehenderit,
                        sunt. Accusamus explicabo non unde!</p>
                </div>
                <a style="width: 300px;" href="{{ path('login') }}" class="button inversed large primary">S'inscrire</a>
            {% endif %}

        </div>
        <div class="arrow-separator"></div>
        <section id="tutoriels">

            <div class="container">
                {% if last_tutoriels|length > 0 %}
                    <h2>Les derniers tutoriels</h2>
                    <div class="tutoriels">
                        {% for tutoriel in last_tutoriels %}
                            {% if loop.index <= 4 %}
                                {% embed 'partials/_tutoriel.html.twig' %}{% endembed %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="spacer"></div>
                    {% if last_tutoriels|length > 4 %}
                        <div class="center">
                            <a href="" class="button primary medium">Voir tous les tutoriels</a>
                        </div>
                    {% endif %}
                {% else %}
                    <h2>Aucun tutoriel pour le moment</h2>
                {% endif %}
            </div>
            <div class="spacer"></div>
        </section>





        {#<div class="container">#}
        {#<hr class="separator">#}
        {#<h2>Les derniers tutoriels</h2>#}
        {#<div class="tutoriels"></div>#}
        {#</div>#}

    {% endblock %}


{% endembed %}