{% embed 'base.html.twig' %}



    {% block body %}



        <div class="jumbotron">
            {% if app.user %}
                <div class="heading">
                    <h1>Bienvenue, {{ app.user.username }}</h1>
                    <p>C'est cool de te revoir mon bon ami !</p>
                </div>
                <a href="{{ path('login') }}" class="button inversed large primary"><i class="fa fa-graduation-cap">&nbsp;&nbsp;</i>Suivi de
                    mes cours</a>
            {% else %}
                <div class="heading">
                    <h1>Venez sur notre site</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque nihil officiis provident quidem
                        repellendus. Aliquid asperiores fuga illo ipsum iure magnam natus nulla quod reprehenderit,
                        sunt. Accusamus explicabo non unde!</p>
                </div>
                <a style="width: 300px;" href="{{ path('login') }}" class="button inversed large primary">S'inscrire</a>
            {% endif %}

        </div>

        <section id="tutoriels">

            <div class="container">
                <h2>Les derniers tutoriels</h2>
                <div class="tutoriels">
                    <div class="tutoriel">
                        <div class="overlay"></div>
                        <img src="https://git-for-windows.github.io/img/git_logo.png" alt="" class="thumbnail">
                        <div class="informations">
                            <h3 class="title">Git</h3>
                            <div class="description">Voici le tuto git</div>
                            <div class="metas">
                                <span class="author">Omar Jbara</span>
                                <span class="date">12 Septembre 2016</span>
                            </div>
                        </div>
                    </div>
                    <div class="tutoriel">
                        <div class="overlay"></div>
                        <img src="http://sass-lang.com/assets/img/styleguide/color-1c4aab2b.png" alt=""
                             class="thumbnail">
                        <div class="informations">
                            <h3 class="title">Sass</h3>
                            <div class="description">Voici le tuto SASS</div>
                            <div class="metas">
                                <span class="author">Omar Jbara</span>
                                <span class="date">12 Septembre 2016</span>
                            </div>
                        </div>
                    </div>
                    <div class="tutoriel">
                        <div class="overlay"></div>
                        <img src="https://git-for-windows.github.io/img/git_logo.png" alt="" class="thumbnail">
                        <div class="informations">
                            <h3 class="title">Git</h3>
                            <div class="description">Voici le tuto git</div>
                            <div class="metas">
                                <span class="author">Omar Jbara</span>
                                <span class="date">12 Septembre 2016</span>
                            </div>
                        </div>
                    </div>
                    <div class="tutoriel">
                        <div class="overlay"></div>
                        <img src="https://git-for-windows.github.io/img/git_logo.png" alt="" class="thumbnail">
                        <div class="informations">
                            <h3 class="title">Git</h3>
                            <div class="description">Voici le tuto git</div>
                            <div class="metas">
                                <span class="author">Omar Jbara</span>
                                <span class="date">12 Septembre 2016</span>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="" class="button primary medium">Voir les derniers tutoriels</a>
            </div>
        </section>





        {#<div class="container">#}
        {#<hr class="separator">#}
        {#<h2>Les derniers tutoriels</h2>#}
        {#<div class="tutoriels"></div>#}
        {#</div>#}

    {% endblock %}


{% endembed %}