$darkblue: #2c3e50;
$red: #e74c3c;
$white: #ecf0f1;
$blue: #2980b9;
$jumbotron_bg: #1f608b;
$header_bg: #1b567b;

/* Couleurs concernant les messages d'alertes */
$success: #56b965;
$error: #e74c3c;
$info: #2aa0cc;

$header_height: 60px;