$primary_color: #009c5c;
$primary_alt_color: #009b42;
$secondary_color: #39bb88;
$third_color: #8accab;
$dark_primary_color: darken($primary_color, 10%);
$dark_secondary_color: darken($secondary_color, 10%);
$dark_third_color: darken($third_color, 10%);
$white: #ecf0f1;
$darkwhite: #e3e7e8;

/* Couleurs concernant les messages d'alertes */
$success: #7bbd6c;
$error: #b1584c;
$info: #2aa0cc;



$header_height: 60px;