$color: #EF5350;

.container {
    width: 1024px;
    margin: 0 auto;
}

.jumbotron {

    width: 100%;
    height: 500px;
    background-color: #79ADDC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    background: url('../assets/img/new-material-design.jpg');
    background-size: cover;
    background-attachment: fixed;

    & h1, h2, p {
        color: whitesmoke;
    }
}

input.search-course {
    width: 500px;
    height: 60px;
    padding: 20px;
}

hr.separator {
    margin: 40px 0;
}

h1, input::-webkit-input-placeholder, button {
    transition: all 0.3s ease-in-out;
}

input.md-input {
    margin: 40px 25px;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px $color;
    transition: all 0.3s cubic-bezier(.64,.09,.08,1);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $color 4%);
    background-position: -500px 0;
    background-size: 500px 100%;
    background-repeat: no-repeat;
    color: white;
    &:focus, &:valid {
        box-shadow: none;
        outline: none;
        background-position: 0 0;
        &::-webkit-input-placeholder {
            color: $color;
            font-size: 12px;
            transform: translateY(-30px);
            visibility: visible !important;
        }
    }
}

.page-body {
    padding-top: 120px;
    &.flash {
        padding-top: 40px;
    }
}

.features {

    & .feature {
        text-align: justify;
        margin-right: 20px;

        & div.icon {
            text-align: center;
            line-height: 40px;
            height: 68px;
            & i.icon {
                font-size: 48px;
                transition: all 0.3s;
                opacity: 0.5;

                &.md- {
                    &blue {
                        color: #1976D2 !important;
                    }
                    &yellow {
                        color: #ffc107 !important;
                    }
                    &red {
                        color: #EF5350 !important;
                    }
                }



                &:hover {
                    font-size: 64px;
                    opacity: 1;
                }
            }

        }

        & h2 {
            margin-top: 0;
            text-align: center;
        }


        &:last-of-type {
            margin-right: 0;

        }
    }
}

.slick-track {
    height: 350px;
}

.tutoriels {


    & .tutoriel {

        position: relative;
        width: 400px;
        height: 300px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin: 20px 20px 0 0;

        & .thumbnail {
            position: relative;
            height: 150px;
            overflow: hidden;

            & img {
                width: 100%;
            }

            & span.category {
                position: absolute;
                left: 20px;
                top: 20px;
                background: rgba(0, 0, 0, 0.22);
                padding: 10px;
                color: white;
            }

        }

        & p {

            padding: 20px;

        }

        & .metas {

            position: relative;
            padding: 20px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            & span.author {
                margin-right: 20px;
                &:before {
                    font-family: Icons;
                    content: '\f007';
                    margin-right: 10px;
                }
            }
            & span.date {
                &:before {
                    font-family: Icons;
                    content: '\f133';
                    margin-right: 10px;
                }
            }
        }

    }

}


footer {
    margin-top: 80px !important;
    text-align: center;
}



.ui.floating {
    box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 0.22) inset, 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.08), 0 17px 40px rgba(0, 0, 0, 0.07) !important;
}

.flashbags {
    top: 80px;
    right: 26px;
    position: absolute;
    z-index: 1000;
    width: 500px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    whitesmoke;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    whitesmoke;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    whitesmoke;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    whitesmoke;
}
