{% embed 'base.html.twig' with {title: 'Administration'} %}

    {% block body %}

        <div class="jumbotron">
            <h1>Administration</h1>
        </div>

        <div class="container">



            <div class="grid has-gutter-xl">
                <div class="center"><a class="button primary medium" href="{{ path('admin_tutoriels_index') }}"><i class="fa fa-edit">&nbsp;&nbsp;</i>Lister les tutoriels</a></div>
                <div class="center"><a class="button primary medium" href="{{ path('admin_user_index') }}"><i class="fa fa-edit">&nbsp;&nbsp;</i>Lister les utilisateurs</a></div>

            </div>
        </div>
    {% endblock %}

{% endembed %}