{% embed 'base.html.twig' with {title: 'Administration'} %}

    {% block body %}

        <div class="page-body">
            <div class="ui container">
                <h1>Administration</h1>
            </div>
        </div>
    {% endblock %}

{% endembed %}