{% embed 'base.html.twig' with {title: 'Tutoriel Git'} %}


    {% block body %}

        <div class="page-body">
            <div class="ui container">
                <h2>II - Utilisation de Git en local</h2>
                <h3>Les commits</h3>
                <div class="content">
                    <div class="gdoc">
                        <span class="c0">Les commits sont tr&egrave;s importants dans l&rsquo;utilisation de Git. Il te permettront de sauvegarder ton code &agrave;
                            l&rsquo;instant T o&ugrave; tu effectues ton commit</span><span class="c0">.<br>Pour ce faire, il faut commencer par pr&eacute;ciser le fichier sur lequel tu viens de travailler (en quelque sorte celui que tu souhaites sauvegarder). Tu le s&eacute;lectionnes avec la commande </span><span
                                class="c3">git add &lt;file_1&gt;</span><span class="c0">. (&ldquo;&lt;file 1&gt;&ldquo;
                            correspond au nom de ton fichier. Dans notre cas &ldquo;index.html&rdquo; attention de ne pas oublier l&rsquo;extension). Cela donne donc : </span><span
                                class="c3">git add index.html</span><span class="c0">.</span></p><p class="c2"><span
                                    class="c0">Si tu souhaites s&eacute;lectionn&eacute; l&rsquo;int&eacute;gralit&eacute;
                                des fichiers modifi&eacute;s, la commande </span><span class="c3">git add .</span><span
                                    class="c0">&nbsp;te sera tr&egrave;s utile&hellip; ;)<br>Vient maintenant le moment de lancer la sauvegarde des fichiers modifi&eacute;s. Tu utiliseras alors la commande </span><span
                                    class="c3">git commit --message &ldquo;Ton super message&rdquo;</span><span
                                    class="c0">. Il faut savoir qu&rsquo;il existe une version raccourci pour les plus feignant d&rsquo;entre nous (pour ne pas dire nous tous) : </span><span
                                    class="c3">git commit -m &rdquo;Ton super message&rdquo;</span><span
                                    class="c0">.</span></p>
                        <p class="c2"><span class="c0">Le message pr&eacute;sent dans le commit doit &ecirc;tre le plus simple et le plus pr&eacute;cis facile pour qu&rsquo;il soit compr&eacute;hensible par les membres de toutes l&rsquo;&eacute;quipe ou simplement pour que tu puisses t&rsquo;y retrouver plus facilement.</span>
                        </p>
                        <p class="c2"><span
                                    style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 562.06px; height: 77.19px;"><img
                                        alt="Capture d&rsquo;e&#769;cran 2016-09-01 a&#768; 22.32.11.png"
                                        src="https://lh5.googleusercontent.com/F17fSmikGJBbgU2rwnJkEF4zshVoaDp3ga72DoRGo9EjwZNUo1GRc3kXO-JcJCjwqKrVpfBFbBaAGgLa2W_rtp4C2TQ5G7gPWSXNva8rkxxVZtQIt26Rw3FKrgJdzA1yu59j0dfT"
                                        style="width: 562.06px; height: 77.19px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                                        title=""></span></p>
                        <p class="c1"><span class="c0"></span></p>
                        <p class="c2"><span class="c0">On voit donc bien que mon commit s&rsquo;est cr&eacute;&eacute;
                                sans soucis. Tu as donc cr&eacute;er une sauvegarde de ton code.</span></p>
                        <p class="c2"><span class="c0">Vient s&rsquo;afficher par la suite le message du commit &ldquo;creation page web&rdquo;
                                et apr&egrave;s le terminal nous dit que nous avons chang&eacute; un fichier (il parle ici du fichier &ldquo;index.html&rdquo;) o&ugrave;
                                nous avons ajout&eacute; 10 insertions qui correspondent &agrave; des lignes.<br>A noter que Git symbolise les lignes ajout&eacute;es &agrave;
                                un fichier par un &ldquo;+&rdquo; et les lignes retir&eacute;es par un &ldquo;-&rdquo;.</span>
                        </p>
                        <p class="c1"><span class="c0"></span></p>
                        <p class="c2"><span class="c0">Tu vas maintenant effectuer un </span><span
                                    class="c3">git status</span><span
                                    class="c0">&nbsp;pour voir si le projet est &agrave; jour et que ton fichier est bien sauvegarder.</span>
                        </p>
                        <p class="c1"><span class="c0"></span></p>
                        <p class="c2"><span
                                    style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 378.32px; height: 59.19px;"><img
                                        alt="Capture d&rsquo;e&#769;cran 2016-09-01 a&#768; 20.17.59.png"
                                        src="https://lh3.googleusercontent.com/r7ZrDVTTzVIlkAnGv88cifu782KC8CxkGdMrSmDjIyga4MCFnqFqcfMXnPe7CQbKVqwA4hHnlWUEKKVS9NLZc_ySl4xicMVzcUELlyjw96wCfSZwa2pdueY9e__Nb5kR_0nlNAQG"
                                        style="width: 378.32px; height: 59.19px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                                        title=""></span></p>
                        <p class="c1"><span class="c0"></span></p>
                        <p class="c2"><span class="c0">Si tout est sous contr&ocirc;le, tu devrais avoir un &eacute;cran du m&ecirc;me type o&ugrave;
                                le terminal te dis que tu es sur la branche master (on y reviendra tr&egrave;s bient&ocirc;t) et qu&rsquo;il n&rsquo;y a rien &agrave;
                                commit. &ldquo;working tree clean&rdquo; veut dire que ton &ldquo;arbre de travail&rdquo;
                                est &agrave; jour. Pour comprendre le syst&egrave;me d&rsquo;arbre et de branche, cela se fera tr&egrave;s prochainement ! ;)</span>
                        </p>
                        <p class="c1"><span class="c0"></span></p>
                        <p class="c1"><span class="c0"></span></p>
                        <p class="c2"><span class="c0">Tu vas maintenant retourner sur ta page html (&ldquo;index.html&rdquo;) pour y ajouter quelque chose de simple comme un paragraphe, juste histoire de modifier le fichier.</span>
                        </p>
                        <pre>
{{ "<!DOCTYPE html>
    <html lang='fr'>
        <head>
            <meta charset='UTF-8'>
            <title>Apprendre Git</title>
        </head>
        <body>
            <h1>Salut toi !</h1>
            <p>J’apprends Git sur ctrl-f</p>
        </body>
    </html>"|e }}
                        </pre>
                        <p class="c2"><span class="c0">Tu sauvegardes et tu quittes.</span></p>
                        <p class="c2"><span class="c0">Un chose pratique est de savoir les diff&eacute;rences entre ton travail actuel et celui du dernier commit. La commande </span><span
                                    class="c3">git diff</span><span class="c0">&nbsp;te permettras de faire ceci.</span>
                        </p>
                        <p class="c1"><span class="c0"></span></p>
                        <p class="c2"><span
                                    style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 310.69px; height: 202.19px;"><img
                                        alt="Capture d&rsquo;e&#769;cran 2016-09-01 a&#768; 20.37.45.png"
                                        src="https://lh6.googleusercontent.com/WlC2T3vGPzcZa_9dXuY-c1DPQW6UIPT5U1DWVQ0BDowa6ol8rSlO4VSBUpqtzr3PFM4OWfpV2YV4ZJHUi9ntj87aZ-QE3w6ttGfF6rdWSg-amMYtMz4Dxsd48L4743voPhxjHH-g"
                                        style="width: 310.69px; height: 202.19px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                                        title=""></span></p>
                        <p class="c1"><span class="c0"></span></p>
                        <p class="c2"><span class="c0">A ce moment l&agrave;, juste apr&egrave;s la modification de ta page web, tu vois bien que compar&eacute; &agrave;
                                ton dernier commit, le paragraphe &ldquo;J&rsquo;apprends Git sur ctrl-f&rdquo; s&rsquo;est ajout&eacute;. Cette modification est symbolis&eacute;e avec un &ldquo;+&rdquo;
                                devant la ligne comme est a &eacute;t&eacute; ajout&eacute; et est de couleur verte.<br>Si tu avais par exemple retir&eacute;
                                ton h1 &ldquo;Salut toi !&rdquo; au lieu rajout&eacute; ce paragraphe, la ligne du h1 aurait &eacute;t&eacute;e pr&eacute;c&eacute;d&eacute;e d&rsquo;un &ldquo;-&rdquo;
                                et aurait &eacute;t&eacute; de couleur rouge comme elle aurait &eacute;t&eacute; supprim&eacute;
                                depuis le dernier commit.</span></p>
                        <p class="c1"><span class="c0"></span></p>
                        <p class="c2"><span class="c0">Si tu fais un </span><span class="c3">git status</span><span
                                    class="c0">, tu peux observer que le fichier a bien &eacute;t&eacute; modifi&eacute;.</span>
                        </p>
                        <p class="c1"><span class="c0"></span></p>
                        <p class="c2"><span
                                    class="c0">Nous allons maintenant faire un commit toujours avec la commande </span><span
                                    class="c3">git commit -m &ldquo;ajout d&rsquo;un paragraphe&rdquo;</span><span
                                    class="c0">&nbsp;(on change pas une &eacute;quipe qui gagne ;) ) pour sauvegarder nos derniers changements.</span>
                        </p>
                        <p class="c1"><span class="c0"></span></p>
                        <p class="c2"><span
                                    style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 471.49px; height: 61.19px;"><img
                                        alt="Capture d&rsquo;e&#769;cran 2016-09-01 a&#768; 22.29.05.png"
                                        src="https://lh6.googleusercontent.com/exM70bCGbuniZZ25GU1BM3UWWUDjanWAF1rqh2vxs9sGpaHfkzfPdj6T7d0tNajtbDjjUiWK7EtangJCzAP5IrgDqxwUdx5YbxFF7X6ujZCOzXE4B4oL8hpZRiURZFVE9iaiUS5R"
                                        style="width: 471.49px; height: 61.19px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                                        title=""></span></p>
                        <p class="c1"><span class="c0"></span></p>
                        <p class="c1"><span class="c0"></span></p>
                        <p class="c2"><span class="c0">Lorsque notre projet grandit, il est tr&egrave;s pratique de pouvoir consulter l&rsquo;historique de nos commits. Cela se fait gr&acirc;ce &agrave;
                                la commande </span><span class="c3">git log</span><span class="c0">.</span></p>
                        <p class="c2"><span
                                    style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 262.50px; height: 153.84px;"><img
                                        alt="Capture d&rsquo;e&#769;cran 2016-09-01 a&#768; 22.35.48.png"
                                        src="https://lh5.googleusercontent.com/-hC4H6FdDeCZ9RtwfiFtTsBETa5d22iyi6TDsC90wQBSowdVbzVH_U-RphqdIZj3YjuGJoB30RxvxFGkDFVlS2s2uyxlRiTfhYgz1cC46djhEtfXD8Y6-Bd7uJt1R04avJq6MUpK"
                                        style="width: 262.50px; height: 153.84px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                                        title=""></span></p>
                        <p class="c2"><span class="c0">Gr&acirc;ce &agrave; cette derni&egrave;re, on a une vue d&rsquo;ensemble sur tous nos commits pr&eacute;c&eacute;demment r&eacute;alis&eacute;s.</span>
                        </p>
                        <p class="c2"><span class="c0">Mais &agrave; quoi correspondent exactement toutes ces informations ?</span>
                        </p>
                        <p class="c2"><span class="c0">La premi&egrave;re ligne (en jaune) correspond &agrave; la r&eacute;f&eacute;rence du commit.<br>En dessous nous avons l&rsquo;auteur avec le nom d&rsquo;utilisateur et l&rsquo;adresse mail de la personne ayant r&eacute;alis&eacute;
                                le commit. En compl&eacute;ment de ses information il y a aussi la date &agrave;
                                laquelle ce commit a &eacute;t&eacute; r&eacute;alis&eacute; (jour mois jour(chiffre) heure ann&eacute;e fuseau horaire).<br>Pour finir il y a le message du commit que l&rsquo;on peut surnommer &ldquo;nom de la sauvegarde&rdquo;.</span>
                        </p>
                        <h2>Navigation dans l'historique du projet</h2>
                        <p class="c2"><span class="c0">Comme ton projet va grandir par la suite, ton code va &eacute;voluer et il se pourrait que tu veuilles revenir &agrave;
                                une version ant&eacute;rieur.</span></p>
                        <p class="c2"><span class="c0">Comme tu as vu juste avant, la commande </span><span class="c3">git log</span><span
                                    class="c0">&nbsp;te permet d&rsquo;afficher l&rsquo;historique des commits avec leur r&eacute;f&eacute;rence (la ligne jaune super longue).<br>La commande </span><span
                                    class="c3">git checkout &lt;referenceDuCommit&gt;</span><span class="c0">&nbsp;te permettra de revenir &agrave;
                                l&rsquo;&eacute;tat du projet &agrave; la date o&ugrave; le commit a &eacute;t&eacute; r&eacute;alis&eacute;.</span>
                        </p>
                    </div>
                </div>
                <br><br><br>
                <div class="ui grid">
                    <div class="two column row">
                        <div class="left floated column">
                            <a href="{{ path('git_tuto', {'subpage': 1, 'page': 3}) }}"><i
                                        class="arrow left icon"></i>
                                Création d'un projet git</a>
                        </div>
                        <div class="right floated column" style="text-align: right;">
                            <a href="{{ path('git_tuto', {'subpage': 3, 'page': 3}) }}">Les branches <i
                                        class="arrow right icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

{% endembed %}