{% embed 'base.html.twig' with {title: 'Tutoriel Git | Collaborer avec Git'} %}


    {% block body %}


        <div class="page-body">

            <div class="ui container">

                <h1>III - Collaborer avec Git</h1>
                <h2>Création du projet sous GitHub</h2>
                <div class="content">
                    <p>Dans l’introduction, nous avons pu brièvement parler du travail collaboratif sur Git, en passant par GitHub. Maintenant, tu te demandes sûrement comment,
                        de façon concrète, commencer à envoyer tes fichiers sur GitHub pour les partager au monde entier ? Et bien c’est très simple, mais avant,
                        expliquons quelques termes techniques anglais (habituez vous aux termes anglais, car vous ne verrez que ça partout sur Internet)</p>
                    <ul>
                        <li>Un repository => Un dépôt (équivalent à un projet)</li>
                        <li>Remote repository => Dépôt distant (il s’agit donc d’un dépôt où vous mettrez en ligne vos fichiers sur ce dernier, et qui ne sera pas sur votre ordinateur)</li>
                    </ul>
                    <p> Nous pouvons donc commencer à créer un projet sur GitHub. En effet, comme vous voulez partager votre projet au monde entier, et bien ce dernier vous offre gracieusement leurs serveurs afin de stocker vos dépôts Git.
                        Commencez d’abord par vous créer un compte GitHub si vous n’en avez pas un, puis rendez-vous à l’adresse suivante :
                        <a href="https://github.com/new">https://github.com/new</a>
                    </p>
                    <br>
                    <img src="https://lh6.googleusercontent.com/HbJlT6Rr5SrWl9qh_-ZNSjs_P-TD3VfBmlF_sBca_KX0qZAwiieHCg-kIXVlsk9BxMECSVzuWK8Vczq2iBnE-UPUy8acjCc7z3o_S5Va1TvOFrHServJ_S9yZmdwPipLr5KohTo9"
                         alt="Créer un nouveau dépôt">
                    <br>
                    <p>
                        Dans cette page, renseigne le nom de ton dépôt, donnes lui une description et choisissez une description.
                        Ensuite, tu peux définir le type de dépôt que tu veux créer. Par défaut, tu peux créer que des dépôts public.
                        Si vous désirez en créer des privés, il faut souscrire à une certaine offre payante, cependant en tant qu’étudiant,
                        <a href="https://education.github.com/pack">tu peux bénéficier de bons plans</a> !</p>

                        <p>La case “Initialize this repository with a README” permet simplement de rajouter un fichier <strong>README.md</strong>, qui contiendra les informations sur ton projet,
                            où tu peux écrire ce que tu désires. Ce fichier là sera visible dans la page d’accueil de votre dépôt, alors met toutes les informations importantes concernant votre projet !
                        Tu peux aussi rajouter un fichier <strong>.gitignore</strong>. Il s’agit simplement d’un fichier, où tu indiqueras, ligne par ligne,
                            les fichiers/répertoires à ignorer par Git. C’est à dire qu’ils ne seront pas pris en compte par le système de versionning.</p>

                    <p>Finalement, vous pouvez rajouter une licence à votre projet.</p>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                <div class="ui grid">
                    <div class="two column row">
                        <div class="left floated column">
                            <a href="{{ path('git_tuto', {'subpage': 3, 'page': 3}) }}"><i class="arrow left icon"></i> Les branches</a>
                        </div>
                        <div class="right floated column" style="text-align: right;">
                            <a href="{{ path('git_tuto', {'subpage': 2, 'page': 4}) }}">Lier le projet local au dépôt distant <i class="arrow right icon"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    {% endblock %}

{% endembed %}