{% embed 'base.html.twig' with {title: 'Tutoriel Git'} %}


    {% block body %}

        <div class="page-body">

            <div class="ui container">
                <h1>Introduction</h1>
                <div class="content">
                    <div class="gdoc">
                        <p class="c7"><span>Tu as décidé de te lancer dans le grand bain et enfin te mettre à </span><span
                                    class="c5">Git</span><span>, ce truc dont tout le monde parle si t’es un développeur ? Commençons par un peu d’histoire :</span>
                        </p>
                        <p class="c2"><span></span></p>
                        <p class="c7"><span>Git est un logiciel de gestion de versions créé par Linus Torvalds (l’auteur du noyau Linux). Grâce à ce logiciel, tu pourras sauvegarder le contenu de tes fichiers à un certain instant T, c’est-à-dire avoir un historique de tout un projet que tu as créé, et dans lequel tu pourras naviguer librement dans le temps. </span>
                        </p>
                        <p class="c2"><span></span></p>
                        <p class="c7"><span>Tu as accidentellement supprimé toute une section d’une page web sur laquelle tu travaillais ? Aucun soucis, grâce à git, tu peux récupérer l’état du fichier à un instant T. </span>
                        </p>
                        <p class="c7"><img
                                    alt=""
                                    src="https://lh3.googleusercontent.com/Y7i3zzOAQDndCeJOMFVIDBuSpbYclSOdEzobGdeFBYETOxAV1q3Oc3BUt1jBJb_Pfyer-o1GdVXrQSZ92OZcAg2HXVARQnxNfmXxyO66iPI9f7f_hAJqbveXr-kgAORDRpefCJVM"
                                    class="ui centered image"
                                    title=""></p>
                        <p class="c7"><span class="c0">C’est simple, si tu t’es déjà retrouvé dans la situation suivante où tu te retrouves avec une tonne de versions d’un même fichier, alors </span><span
                                    class="c0 c5">Git </span><span class="c0">est probablement ta meilleure solution.</span>
                        </p>
                        <p class="c2"><span class="c0"></span></p>
                        <p class="c6"><span>Afin de t’aider à mieux comprendre dans quelles situations Git peut être réellement utile, prenons un exemple concret :</span>
                        </p>
                        <p class="c1"><span></span></p>
                        <p class="c6"><span>3 étudiants désirent réaliser un site web de tutoriels en ligne. Auparavant, ils ont déjà eu à collaborer avec d’autres personnes, cependants, afin d’échanger leur scripts PHP, ils passaient par un serveur FTP. Imagine leur réaction lorsque deux personnes en même temps modifiaient le même fichier, puis le mettait en ligne sur le FTP. Une des deux versions se retrouvait donc écrasé. De plus, ces étudiants devaient, à chaque modification, ré-envoyer leur fichier sur le FTP, ce qui prenait un peu de temps.</span>
                        </p>
                        <p class="c6"><span>Aujourd’hui, ces 3 étudiants ont enfin réfléchis et ont décidés de trouver une solution viable : </span><span
                                    class="c5">Git</span><span>. Grâce à Git, chacun peut donc travailler de son côté, ajouter des fonctionnalités, revenir en arrière s’il y a eu une erreur et déployer le tout en ligne, tout cela en quelques instants.</span>
                        </p>
                        <p class="c6"><span>Ces 3 étudiants sont donc aujourd’hui bien plus performants dans leur travail collaboratif, et c’est une des raisons principales au succès de </span><span
                                    class="c5">Git</span><span>, </span><span
                                    class="c5">la collaboration</span><span>.</span>
                        </p>
                        <p class="c1"><span></span></p>
                        <p class="c6"><span>Si tu as donc bien tout suivi, tu devrais réaliser progressivement l’utilité d’un système de versionning tel que </span><span
                                    class="c5">Git</span><span>. Mais là où cela devient encore plus puissant, c’est quand tu désires travailler avec d’autres personnes. C’est pour cela que depuis l’apparition de </span><span
                                    class="c5">Git</span><span>, le monde de l’open source n’a cessé de devenir de plus en plus populaire, car nous pouvons désormais travailler sur un projet, simultanément et entre plusieurs milliers de personnes !</span>
                        </p>
                        <p class="c2"><span></span></p>
                        <p class="c7"><span>Lorsque l’on parle de </span><span class="c5">Git</span><span>, on y associe souvent le site web </span><span
                                    class="c5">GitHub</span><span>. Il ne faut pas confondre les deux, ce sont deux projets différents. Git a été créé par Linus Torvalds, tandis que GitHub est un site web créé par </span><span
                                    class="c0">Chris Wanstrath, PJ Hyett et Tom Preston-Werner, qui permet de stocker des dépôts </span><span
                                    class="c0 c5">Git </span><span class="c0">en ligne et de les partager. Un dépôt peut-être assimilé à un projet.</span>
                        </p>
                        <p class="c7"><span class="c0">C’est donc grâce à </span><span class="c0 c5">GitHub </span><span
                                    class="c0">que tu peux récupérer les projets des autres, et travailler de manière collaborative très aisément.</span>
                        </p>
                        <p class="c1"><span></span></p>
                        <p class="c7"><span>De plus, git </span><span>a été conçu dans une optique totalement </span><span
                                    class="c5">décentralisé</span><span>. En effet, aucun projet ne repose sur un serveur central. Si tu désires récupérer un projet, tu le télécharge (“clone”) sur </span><span
                                    class="c5">GitHub</span><span>. Tu disposes dorénavant du projet en totalité, en comptant même tout l’historique. De ce fait, les projets sont donc décentralisé.</span>
                        </p>
                    </div>
                    <br><br><br><br>

                </div>

                <div class="ui grid">
                    <div class="two column row">
                        <div class="right floated column" style="text-align: right;">
                            <a href="{{ path('git_tuto', {'subpage': 1, 'page': 2}) }}">Rappels sur la console <i
                                        class="arrow right icon"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    {% endblock %}

{% endembed %}