{% embed 'base.html.twig' with {title: 'Tutoriel Git'} %}


    {% block body %}

        <div class="page-body">

            <div class="ui container">
                <h1>III - Collaborer avec Git</h1>
                <h2>Outils graphiques et résolution de conflits</h2>
                <p class="c2"><span>Au d&eacute;part, tout le monde a du mal avec </span><span
                            class="c0">Git </span><span>et son fonctionnement de branche, de d&eacute;p&ocirc;ts etc&hellip;
                        G&eacute;n&eacute;ralement, lorsque l&rsquo;on d&eacute;bute, on a besoin de quelque chose de plus visuel, et comment dire que&hellip;
                        git n&rsquo;est pas l&rsquo;outil le plus visuel. Il existe donc des alternatives tel que </span><span
                            class="c0">GitHub desktop</span><span>&nbsp;ou encore </span><span
                            class="c0">GitKraken</span><span>&nbsp;(que je te conseille, car elle permet, en plus d&rsquo;avoir une jolie repr&eacute;sentation visuelle des branches, de r&eacute;aliser certaines actions avec un simple glisser / d&eacute;poser, et te permet de r&eacute;soudre un conflit sur un fichier directement depuis l&rsquo;interface).</span>
                </p>
                <p class="c2 c7"><span></span></p>
               <img
                    alt=""
                    src="https://lh5.googleusercontent.com/QaWnV3S3PngrrC4L3ZzbwOjzRkIxhl5OtoF78FOImkLVFtEfthHlRDO7aSHM2OAbKUY0utTbRWO7rS52HJMksXfLm4rejTpaDvjHLVq_DgHi1SIhkDA9BBHUnet3NjxkrSYnqE_0"
                    class="ui fluid image"
                    title="">
                <div class="caption">Interface de GitKraken</div>
                <p class="c2 c7"><span></span></p>
                <p class="c2 c7"><span></span></p>
                <hr style="page-break-before:always;display:none;">
                <p class="c2 c7"><span></span></p>
                <p class="c2 c7"><span></span></p>
                <h2 class="c2 c11" id="h.omna3yjolcag"><span>&nbsp;G&eacute;rer les conflits</span></h2>
                <p class="c2"><span>Quand tu seras amen&eacute; &agrave; travailler sur des projets un petit peu plus complexe, qui disposeront de plusieurs branches, les vraies probl&egrave;mes commenceront &agrave;
                        arriver. En effet, depuis le d&eacute;part, tu as &eacute;t&eacute; confront&eacute; &agrave;
                        des projets tr&egrave;s simple, disposant de quelques fichiers, et d&rsquo;une seule branche. Mais en r&eacute;alit&eacute;, des conflits peuvent tr&egrave;s vite arriver. Prenons le cas suivant :</span>
                </p>
                <p class="c2 c7"><span></span></p>
                <p class="c2"><span>Vous &ecirc;tes une &eacute;quipe de deux d&eacute;veloppeurs, chacun travaillant sur une fonctionnalit&eacute; &agrave;
                        part. Un de vous est sur la branche &ldquo;dev&rdquo;, et l&rsquo;autre est sur la branche &ldquo;master&rdquo;. Tu d&eacute;cides donc de modifier le fichier &ldquo;</span><span
                            class="c0">index.html</span><span>&rdquo; afin d&rsquo;ajouter cette fonctionnalit&eacute;
                        que tu as absolument envie d&rsquo;int&eacute;grer. Sauf ce que tu ne sais pas, c&rsquo;est que ton ami d&eacute;veloppeur a d&eacute;j&agrave;
                        eu la formidable id&eacute;e d&rsquo;ajouter sa fonctionnalit&eacute; dans ce m&ecirc;me fichier. </span>
                </p>
                <p class="c2 c7"><span></span></p>
                <p class="c2"><span>Tout fier de toi, tu as fini d&rsquo;ajouter ta fonctionnalit&eacute;, du coup il est temps pour toi de </span><span
                            class="c0 c1">merge</span><span class="c0">&nbsp;</span><span>(fusionner) les modifications apport&eacute;s dans la branche </span><span
                            class="c0 c1">dev </span><span>vers la branche </span><span
                            class="c0 c1">master</span><span>. Sauf que lorsque tu vas fusionner la branche dev (</span><span
                            class="c0">git merge dev</span><span>), tu auras s&ucirc;rement une jolie erreur du style &ldquo;CONFLIT (contenu) : Conflit de fusion dans &lt;nom_fichier&gt;&rdquo;. </span>
                </p>
                <p class="c2 c7"><span></span></p>
                <p class="c2"><span>C&rsquo;est &agrave; ce moment l&agrave; que tu vas petit &agrave; petit d&eacute;tester git ! Je te l&rsquo;assure, les probl&egrave;mes de conflits font partie du quotidien de certains gros projets, et peuvent &ecirc;tre une vraie plaie &agrave;
                        corriger. Lorsque tu es face &agrave; un conflit, il faut modifier manuellement le fichier afin qu&rsquo;il corresponde au fichier pr&eacute;sent dans la branche vers laquelle tu vas fusionner (ici, </span><span
                            class="c0">master</span><span>). </span></p>
                <p class="c2 c7"><span></span></p>
                <p class="c2">
                    <span>Git propose un outil qui permet de faire ces modifications automatiquement, </span><span
                            class="c0 c1">git mergetool</span><span class="c1">, </span><span>mais je ne te le conseille pas si tu n&rsquo;es pas un habitu&eacute;
                        de l&rsquo;&eacute;diteur de texte en ligne de commande </span><span class="c0">Vi</span><span>, car il s&rsquo;agit d&rsquo;un &eacute;diteur de texte assez compliqu&eacute; &agrave;
                        ma&icirc;triser. Sinon, certains logiciels tel que </span><span
                            class="c0">GitKraken</span><span>&nbsp;vu plus haut, disposent d&rsquo;un &eacute;diteur visuel afin d&rsquo;assister &agrave;
                        la r&eacute;solution de conflit. C&rsquo;est pour cela que je te conseille vivement d&rsquo;avoir sous le coude une application bureau pour GitHub, non pas dans le but de remplacer ton terminal (car, d&eacute;sol&eacute;
                        de te l&rsquo;annoncer, mais une application bureau atteindra tr&egrave;s difficilement le nombres de choses que l&rsquo;on peut faire avec la console), mais dans le but de t&rsquo;aider vers ton apprentissage de </span><span
                            class="c0">Git</span><span>. </span></p>
                <p class="c2 c7"><span></span></p>
                <br><br><br><br>

                <div class="ui grid">
                    <div class="two column row">
                        <div class="left floated column">
                            <a href="{{ path('git_tuto', {'subpage': 2, 'page': 4}) }}"><i class="arrow left icon"></i>
                                Lier le projet local au dépôt distant</a>
                        </div>
                        <div class="right floated column" style="text-align: right;">
                            <a href="{{ path('git_tuto', {'subpage': 1, 'page': 5}) }}">Conclusion <i
                                        class="arrow right icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

{% endembed %}