{% embed 'base.html.twig' with {title: 'Tutoriel Git'} %}


    {% block body %}

        <div class="page-body">

            <div class="ui container">
                <h1>Conclusion</h1>
                <div class="content">
                    <div class="gdoc">
                        <p class="c2"><span>Si tu en es arrivé jusqu’ici sans maux de tête c’est déjà un très bon début ! Nous savons très bien qu’apprendre </span><span
                                    class="c0">git</span><span>&nbsp;peut être assez difficile, surtout au départ lorsque tu as énormément de mots de vocabulaires à connaître. </span>
                        </p>
                        <p class="c1"><span></span></p>
                        <p class="c2"><span>Mais tu sais ce que l’on dit, </span><span class="c0 c4">c’est en pratiquant que l’on devient forgeron</span><span
                                    class="c4">.</span><span>&nbsp;Maîtriser </span><span class="c0">git</span><span>&nbsp;est une tâche sur le long terme. Rassure toi, personne ne maîtrise git à 100% tellement il y a de commandes et de combinaisons disponibles !</span>
                        </p>
                        <p class="c2">
                            <span>Plus tu l’utilisera, plus tu te sentira à l’aise pour les commandes tel que </span><span
                                    class="c0">git push / git pull / git commit </span><span>etc… </span></p>
                        <p class="c2">
                            <span>Si tu désires en apprendre plus sur certaines bonnes pratiques autour de </span><span
                                    class="c0">git</span><span>, je te conseille </span><span class="c0">Git flow</span><span>, il s’agit d’une stratégie particulière concernant le nommage de vos branches. En effet, cela te permettra de mieux t’y retrouver entre toutes tes branches, de suivres de bonnes conventions et qui sont reconnues dans le milieu du développement. </span>
                        </p>
                        <p class="c1"><span></span></p>
                        <p class="c2"><span>N’hésite pas aussi à jeter un coup d’oeil à la documentation officielle </span><span
                                    class="c5"><a class="c7"
                                                  href="https://www.google.com/url?q=https://git-scm.com/book/fr/v2&amp;sa=D&amp;ust=1472773923151000&amp;usg=AFQjCNGlYRKpxa45b1Wz0j5VFYb5VIr8pQ">https://git-scm.com/book/fr/v2</a></span><span>&nbsp;car il y a pleins de choses à apprendre.</span>
                        </p>
                        <p class="c1"><span></span></p>
                        <p class="c1"><span></span></p>
                    </div>
                </div>

                <br><br><br><br>
                <div class="ui grid">
                    <div class="two column row">
                        <div class="left floated column">
                            <a href="{{ path('git_tuto', {'subpage': 3, 'page': 4}) }}"><i class="arrow left icon"></i>
                                Outils graphiques et résolution de conflits</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    {% endblock %}

{% endembed %}