{% embed 'base.html.twig' with {title: 'Tutoriel Git'} %}


    {% block body %}

        <div class="page-body">

            <div class="ui container">

                    <h2>Installation de Git sous</h2>
                    <div class="ui top attached tabular menu">
                        <div class="active item" data-tab="first">Windows</div>
                        <div class="item" data-tab="second">Mac</div>
                        <div class="item" data-tab="third">Linux</div>
                    </div>
                    <div class="ui bottom attached active tab segment" data-tab="first">
                        <p>
                            Pour installer Git sous Windows rend toi sur la <a href="https://git-scm.com/download/win">page
                                suivante</a> pour télécharger la dernière version de Git.
                            <br>
                            Une fois le fichier exécutable téléchargé lance le, puis lors de l’installation laisse
                            toutes les valeurs par défaut.
                            <br>
                            Normalement Git s’est bien installé, pour vérifier lance ton terminal et tape simplement la
                            commande <span class="pre">git</span>.
                            Si le manuel de Git en anglais apparaît c’est que l’installation a bien fonctionné.
                        </p>
                    </div>
                    <div class="ui bottom attached tab segment" data-tab="second">
                        <div class="gdoc">
                            <p class="c3"><span>Pour installer Git sous Mac rend toi sur la page suivante pour t&eacute;l&eacute;charger la derni&egrave;re version de Git : </span><span
                                        class="c10"><a class="c8"
                                                       href="https://www.google.com/url?q=https://git-scm.com/download/mac&amp;sa=D&amp;ust=1472777057895000&amp;usg=AFQjCNEGFbCxSuCMqUSTn1aOwPEVhiLgNw">https://git-scm.com/download/mac</a></span><span>&nbsp;</span>
                            </p>
                            <p class="c3 c5"><span></span></p>
                            <p class="c3"><span>Une fois le fichier .dmg t&eacute;l&eacute;charg&eacuteeacute; lance le :</span>
                            </p>
                            <p class="c3 c5"><span></span></p>
                            <p class="c3"><span
                                        style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 228.00px; height: 186.00px;"><img
                                            alt="Capture d&rsquo;e&#769;cran 2016-09-01 a&#768; 23.52.25.png"
                                            src="https://lh4.googleusercontent.com/reJjqbe33rji5cnKqU-VrX9ERWTWSSZy1AL_5MimuDI4cDmG1DxXwkJ-4lIxPUHjqmiQU3D4f33CvxHq2hL4kkGC1eSVdlxQlq2mJUlrW3hzBbu6D58U_WCwZzfMsb0BRsUD5tAC"
                                            style="width: 228.00px; height: 186.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                                            title=""></span></p>
                            <p class="c3 c5"><span></span></p>
                            <p class="c3"><span>Apr&egrave;s avoir ouvert le fichier cela va te donner acc&egrave;s plusieurs autres fichiers :</span>
                            </p>
                            <p class="c3 c5"><span></span></p>
                            <p class="c3"><span
                                        style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 688.70px; height: 156.00px;"><img
                                            alt="Capture d&rsquo;e&#769;cran 2016-09-01 a&#768; 23.52.47.png"
                                            src="https://lh3.googleusercontent.com/37YGi2SQtrrVYmRRUvAE9OmPpxcTSczdLaA6Ns9QAYkkFLkYOqH3WP7mZY7kjj69WE1bgpiBdejssZ8v3f9ljOXOmmjmihmsQXkMjJzTKMzQZfBrHJLDais0Akt15aQfp0htya6s"
                                            style="width: 688.70px; height: 156.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                                            title=""></span></p>
                            <p class="c3 c5"><span></span></p>
                            <p class="c3 c5"><span></span></p>
                            <p class="c3"><span>&Agrave; pr&eacute;sent ouvre tout simplement le fichier .pkg, ce qui va lancer le programme d&rsquo;installation :</span>
                            </p>
                            <p class="c3"><span
                                        style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 528.50px; height: 364.35px;"><img
                                            alt="Capture d&rsquo;e&#769;cran 2016-09-01 a&#768; 23.53.12.png"
                                            src="https://lh5.googleusercontent.com/A4GVpQtCAGDbQODvYFxU07_1augpazChn-SRmfz0FZ-0Ldu2O-LnvfZB0KRoZw44xBJFGpiaahZfbgl8APNKKLawOguDXcCP6e6IHGp0-y9_0BytCwcaVRQ017PSH4p27WysPamP"
                                            style="width: 528.50px; height: 364.35px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                                            title=""></span></p>
                            <p class="c3 c5"><span></span></p>
                            <p class="c3"><span>&nbsp;</span></p>
                            <p class="c3"><span>Tu n&rsquo;as plus qu&rsquo;&agrave; suivre les &eacute;tapes d&rsquo;installation en laissant toutes les valeurs par d&eacute;faut.</span>
                            </p>
                            <p class="c3 c5"><span></span></p>
                            <p class="c3"><span>Normalement Git s&rsquo;est bien install&eacute;, pour v&eacute;rifier lance ton terminal et tape simplement la commande <span
                                            class="pre">git</span>.</span>
                            </p>
                            <p class="c3"><span>Si le manuel de Git en anglais appara&icirc;t c&rsquo;est que l&rsquo;installation a bien fonctionn&eacute;.</span>
                            </p>
                        </div>
                    </div>
                    <div class="ui bottom attached tab segment" data-tab="third">
                        <p>Pour installer Git sous Linux rend toi sur la page suivante afin d’obtenir les étapes pour de télécharger la dernière version de Git selon ta distribution Linux : <a href="https://git-scm.com/download/linux">https://git-scm.com/download/linux</a></p>

                        <p>Une fois le fichier l’installation effectuée, pour vérifier que tout c’est bien passer lance ton terminal et tape simplement la commande
                            <span class="pre">git</span>.
                            Si le manuel de Git en anglais apparaît c’est que l’installation a bien fonctionné.
                        </p>
                    </div>
                    <div class="separator"></div>
                    <h2>Configuration</h2>
                    <p>Pour configurer Git tu vas tous simplement devoir renseigner ton nom et ton email. Pour ce faire lance ton terminal et tape les commande suivantes :
                    </p>
                    <pre>git config --global user.name "Ton_nom"</pre>
                    <pre>git config --global user.email "Ton@email.com"</pre>
                <br><br>
                <div class="ui grid">
                    <div class="two column row">
                        <div class="left floated column">
                            <a href="{{ path('git_tuto', {'subpage': 1, 'page': 1}) }}"><i class="arrow left icon"></i>
                                Introduction</a>
                        </div>
                        <div class="right floated column" style="text-align: right;">
                            <a href="{{ path('git_tuto', {'subpage': 2, 'page': 2}) }}">Installation et configuration de
                                git <i class="arrow right icon"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    {% endblock %}

    {% block javascripts %}
        <script>
            $('.menu .item')
                    .tab();
        </script>
    {% endblock %}

{% endembed %}