{% embed "base.html.twig" with {title: 'Index des tutoriels'} %}


    {% block body %}

        <div class="page-body">
            <div class="ui container">
                <h1>Liste des tutoriels</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Nb. pages</th>
                            <th>Date de création</th>
                            <th>Auteur</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>

    {% endblock %}
{% endembed %}