{% embed "base.html.twig" with {title: 'Ajouter un tutoriel'} %}


    {% block body %}

        <div class="container">
            <div class="spacer"></div>
            <h1 class="page-title">Liste des tutoriels</h1>
            <div class="spacer"></div>
            {% if tutoriels is defined and tutoriels|length > 0 %}
                <div class="tutoriels">
                    {% for tutoriel in tutoriels %}
                        {% embed 'partials/_tutoriel.html.twig' %}{% endembed %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

    {% endblock %}

{% endembed %}