{% embed "base.html.twig" with {title: 'Ajouter un tutoriel'} %}


    {% block body %}
        <div class="jumbotron">
            <h1>Liste des tutoriels</h1>
        </div>
        <div class="container">

            {% if tutoriels is defined and tutoriels|length > 0 %}
                <div class="tutoriels">
                    {% for tutoriel in tutoriels %}
                        {% embed 'partials/_tutoriel.html.twig' %}{% endembed %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

    {% endblock %}

{% endembed %}