{% embed 'base.html.twig' with {title: 'Connexion / Inscription', subtitle: 'Découvrez vite de nombreux tutoriaux sur notre plateforme !'} %}

    {% block body %}

        {% if error|default(null) %}
            <div class="flashbags animated fadeInRight">
                <div class="notification error">
                    <i class="fa fa-close"></i>
                    <p>{{ error|raw }}</p>
                    <i class="background-icon"></i>
                </div>
            </div>

        {% endif %}

        <div class="container">
            <div class="spacer"></div>
            <section id="register">
                <h2>Inscription</h2>
            </section>
            <section id="connection">
                <h2>Connexion</h2>
            </section>

        </div>



    {% endblock %}

    {% block  javascripts %}
        <script>
            $('.message .close')
                    .on('click', function () {
                        $(this)
                                .closest('.message')
                                .transition('fade')
                        ;
                    })
            ;
            $('.ui.checkbox')
                    .checkbox()
            ;
        </script>
    {% endblock %}
{% endembed %}